doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        include partials/header                
        include partials/socialLogin
        main
            block content
        iframe(src="https://www.youtube.com/embed/PoTyt_OoPUs", frameborder="0")
            id='ytplayer'
            type='text/html'
            width='720'
            height='405' 
        include partials/footer
    script(src="/static/js/main.js")    
    block scripts